@font-face {
    font-family: "Poppins";
    font-weight: regular;
    src: url("fonts/Poppins-Regular.woff");
}
@font-face {
    font-family: "Poppins";
    font-weight: bold;
    src: url("fonts/Poppins-Bold.woff");
}
@font-face {
    font-family: "Poppins";
    font-weight: normal;
    src: url("fonts/Poppins-Light.woff");
}
@font-face {
    font-family: "Poppins";
    font-weight: medium;
    src: url("fonts/Poppins-Medium.woff");
}